<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    {% include head.html %}
    {% seo %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/gallery">gallery</a></li>
        <li><a href="/blog">archive</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer>
    </footer>
  </body>
</html>
